</div>
 
 <footer class="text-white text-center text-lg-start fixed-footer " style="background-color: #f6b93b">

        <!-- Grid container -->
        <div class="container p-4"  style="background-color: #f6b93b">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <p>
                        Site réalisé par Matthieu Schuler et
                        Matthieu Tran
                    </p>
                </div>
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3">
            Powered by HTML/CSS/PHP/Bootstrap
        </div>
        <!-- Copyright -->
        </footer>
    </body>
</html>