
    <div class="container">
      <div class="mt-4 p-5 text-white rounded">
        <h1>Amélioration du code MVC</h1>
        <p>L'innovation que l'on a choisit d'utiliser pour le code MVC sur notre site et de mettre directement dans le routeur les fichiers header/menu/footer. Êvitant ainsi de les mettre dans chaque vues. On a fait cela aussi pour les balises html et body que l'on a respectivement mis dans les header et footer. <br>Veuillez trouver ci-dessous le bout de code correspondant au router:</p>
        <img src="../../public/assets/router.png" alt="routeur_png">
      </div>
      <p/>
    </div>
    <!-- ----- fin de la page mvc innovations -->
  